body.jadoo .mt{
  &_35{
    margin-top: 35px;
  }

  &_38{
    margin-top: 38px !important;
  }
}

@media (min-width: 1200px) {
  body.jadoo{
    .me-xl_-75{
      margin-right: -75px !important;
    }

    .mt-xl{
      &_66{
        margin-top: 66px !important;
      }
    }
  }
}