html{
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body.jadoo{
  font-size: $base-font-size + px;
  font-family: $poppins;
  font-weight: 500;
  font-style: normal;
  color: $black-main;
  padding-bottom: 100px;

  .container-fluid{
    max-width: 1600px;
    margin: 0 auto;
  }

  img{
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  body.jadoo{
    .container{
      max-width: 1200px;
    }

    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
      --bs-gutter-x: 3.3rem;
    }
  }
}