h1.h1{
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 700;
  font-family: $volkhov;
  font-weight: 700;
  color: $black-title;
  letter-spacing: -1px;
}

h2.h2{
  font-weight: 700;
  color: $black-main;
  font-size: 1.3rem;
  line-height: 2rem;
}

p{
  line-height: 1.7;
}

.fw-500{
  font-weight: 500;
}

.fs-1_25{
  font-size: 1.25rem;
}

.text-orange{
  color: $orange;
}

.decorated_text{
  display: inline-block;
  position: relative;

  &:after{
    content: '';
    display: inline-block;
    position: absolute;
    z-index: -1;
    background-image: url('../images/decore.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 385px;
    height: 12px;
    left: -30px;
    bottom: 5px;
  }
}
@media (min-width: 575px){
  h1.h1{
    font-size: 3.5rem;
    line-height: 4.5rem;
  }

  h2.h2{
    font-size: 2.06rem;
    line-height: 3.375rem;
  }
}

@media (min-width: 992px){
  h1.h1{
    font-size: 5.25rem;
    line-height: 5.56rem;
  }
}