$base-font-size:      16;
$poppins:             "Poppins", sans-serif;
$volkhov:             "Volkhov", serif;

$black-title:         #181E4B;
$black-1:             #39425D;
$black-main:          #5E6282;
$black-text:          #686D77;
$black-1-hover:       #707b9d;

$orange:              #DF6951;

$yellow-light:        #FFF1DA;
$yellow:              #F1A501;

$violet-light:        rgba(223, 215, 249, .2);