section.container
  .newsletter-section
    .newsletter-section-in
      h2.h2.text-center Subscribe to get information, latest news and other interesting offers about Cobham
      form.text-center.mt-4.mt-xl_66
        .d-md-inline-flex
          .form-input-area
            i.icon-jadoo-email
            input.form-control(type="email", placeholder="Your email")
          .ms-sm-4
            button.btn.btn-orange-gradient Subscribe